@{
    ViewBag.Title = "Über Uns";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Der .NET-Stammtisch</h1>
<p><a href="http://ineta-deutschland.de" target="_blanc"><img src="/Content/Images/logo-ineta-deutschland-user-group.png" alt="" align="left" style="margin-right:10px;border:1px solid lightgray;padding: 10px;" /></a>Der ".NET-Stammtisch Konstanz-Kreuzlingen" wurde im Februar 2009 von <a href="http://www.aspnetzone.de/blogs/juergengutsch/default.aspx">J&uuml;rgen Gutsch</a> und <a href="http://www.aspnetzone.de/blogs/peterbucher/default.aspx">Peter Bucher</a>&nbsp;ins Leben gerufen, da es beidseitig der Grenze in der n&auml;heren Umgebung keine Veranstaltung rund um Microsofts .NET gibt. </p>
<p>Der Stammtisch soll in erster Linie eine formlose Diskussionsm&ouml;glichkeit f&uuml;r alle Interessierten bieten, denen der Weg nach Konstanz und Kreuzlingen nicht zu weit ist. Es geht um reinen Erfahrungsaustausch und lockere Diskussionen rund um das .NET Framework. Sicherlich ist dabei spannend zu sehen, wer in der Region noch mit Microsofts .NET-Techniken arbeitet. Eventuell entwickeln sich daraus auch interessante, m&ouml;glicherweise auch grenz&uuml;bergreifende Kooperationen.</p>
@*<h2>Weiterf&uuml;hrendes</h2>
<p>Seit dem 25. September 2010 ist der ".NET-Stammtisch Konstanz-Kreuzlingen" auch ein Verein. Mehr Informationen zum Verein sind hier zu finden: <a href="/de/Ueber-uns/Der-Verein/page39449.htm" id="addminlink-184813">Infos zum Verein</a></p>
<p>Da es den .NET-Stammtisch tats&auml;chlich schon eine Weile gibt, haben wir hier eine kleine Historie zusammengestellt: <a href="/de/Ueber-uns/Geschichte/page39450.htm" id="addminlink-184814">Geschichte</a></p>*@
<h2>Social Media</h2>
<p>XING-Gruppe des Stammtisches: <br /><a href="https://www.xing.com/net/net-konstanz-kreuzlingen">https://www.xing.com/net/net-konstanz-kreuzlingen</a></p>
<p>Facebook-Gruppe des Stammtisches: <br /><a href="http://www.facebook.com/group.php?gid=106023905489">http://www.facebook.com/group.php?gid=106023905489</a></p>
<p style="margin-bottom: 0px">Der .NET Stammtisch bei Twitter: <br /><a href="http://twitter.com/DOTNETKK">http://twitter.com/DOTNETKK</a></p>