@model CommunitySite.Web.Models.HomeModel

@{
    ViewBag.Title = "Start";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>

    <h1>.NET-Stammtisch Konstanz-Kreuzlingen</h1>
    <p>Das nächste Stammtisch Treffen findet wie folgt statt:</p>
    @{Html.RenderPartial("Event", Model.Event);}

</section>

