@active_color: #FF4E00;
@accent_color: #0090FF;

.reset()
{
    margin: 0;
    padding: 0;
    list-style: none;
}

.font()
{
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
}

/*** ESSENTIAL STYLES ***/
.mainmenu
{
    .reset;
    line-height: 1.0;
    float: left;
    margin-bottom: 0.5em;

    & *
    {
        .reset;
    }

    & a
    {
        display: block;
        position: relative;
        color: @accent_color;
        padding: .25em 1em;
        .font;
    }

    & li
    {
        float: left;
        position: relative;

        &:hover
        {
            visibility: inherit; /* fixes IE7 'sticky bug' */
        }

        &.selected > a
        {
            color: @active_color;
        }

        &:hover > a
        {
            color: @active_color;
        }
        /*** DEMO SKIN ***/
        & li, & li:hover
        {
            border: none;

            & a
            {
                padding: .25em 1em;
            }
        }

        &:hover, &.sfHover, & a:focus, & a:hover, & a:active
        {
            outline: 0;
        }
    }
}
