/*** ESSENTIAL STYLES ***/
.mainmenu {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1.0;
  float: left;
  margin-bottom: 0.5em;
}
.mainmenu * {
  margin: 0;
  padding: 0;
  list-style: none;
}
.mainmenu a {
  display: block;
  position: relative;
  color: #0090ff;
  padding: .25em 1em;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
}
.mainmenu li {
  float: left;
  position: relative;
  /*** DEMO SKIN ***/

}
.mainmenu li:hover {
  visibility: inherit;
  /* fixes IE7 'sticky bug' */

}
.mainmenu li.selected > a {
  color: #ff4e00;
}
.mainmenu li:hover > a {
  color: #ff4e00;
}
.mainmenu li li,
.mainmenu li li:hover {
  border: none;
}
.mainmenu li li a,
.mainmenu li li:hover a {
  padding: .25em 1em;
}
.mainmenu li:hover,
.mainmenu li.sfHover,
.mainmenu li a:focus,
.mainmenu li a:hover,
.mainmenu li a:active {
  outline: 0;
}
