
/*** ESSENTIAL STYLES ***/
.mainmenu, .mainmenu *
{
    margin: 0;
    padding: 0;
    list-style: none;
}
.mainmenu
{
    line-height: 1.0;
    float: left;
    margin-bottom: 0.5em;
}

.mainmenu li
{
    float: left;
    position: relative;
}

.mainmenu li:hover
{
    visibility: inherit; /* fixes IE7 'sticky bug' */
}

.mainmenu a
{
    display: block;
    position: relative;
    color: #0090FF;
    font-size: 1.2em;
    font-weight: bold;
    padding: .25em 1em;
    text-decoration: none;
}
.mainmenu li.selected > a
{
    color: #FF4E00;
}

.mainmenu li:hover > a
{
    color: #FF4E00;
}


/*** DEMO SKIN ***/
.mainmenu li li, .mainmenu li li:hover
{
    border: none;
}
.mainmenu li li a
{
    padding: .25em 1em;
}
.mainmenu li:hover, .mainmenu li.sfHover, .mainmenu a:focus, .mainmenu a:hover, .mainmenu a:active
{
    outline: 0;
}


