html,
body,
div,
p,
form,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
html * {
  font-size: 100.01%;
}
body {
  font-family: verdana, arial, sans-serif;
  color: #000000;
  font-size: 75.00%;
}
#page {
  max-width: 1024px;
  min-width: 320px;
  margin: 1em auto 1em auto;
}
#header {
  margin: 0 1.3em;
}
#menu {
  margin-top: 1em;
  padding-top: 0.5em;
  border-top: solid 1px #808080;
  border-bottom: solid 1px #808080;
}
#content {
  margin: 1em 1.3em;
}
#content li {
  color: #000000 !important;
  margin-left: -1em;
}
#footer {
  color: #808080;
  border-top: solid 1px #808080;
  padding: 1em 1.8em;
}
#footer a {
  color: #808080;
  text-decoration: none;
}
.clear {
  clear: both;
}
h1 {
  font-size: 1.4em;
  margin-bottom: 1em;
  color: #0090ff;
}
h2 {
  font-size: 1.2em;
  margin-bottom: 1em;
  color: #ff4e00;
}
h3 {
  font-size: 1em;
  margin-bottom: 1em;
  color: #000000;
}
p {
  font-size: 1em;
  margin-bottom: 1em;
  color: #000000;
}
.defaultred {
  color: #ff4e00;
}
.defaultblue {
  color: #0090ff;
}
img {
  border: none 0;
}
@media screen and (max-width: 400px) {
  #header {
    background-color: black;
  }
  #header p {
    text-align: center;
  }
  #header p a img {
    height: 76px;
    width: 150px;
  }
}
