@accent_color: #0090FF;
@active_color: #FF4E00;
@border_color: #808080;
@validation_error_color: #e80c4d;
@font_color: #000000;


.font_size(@multiplyer: 1em, @color: @font_color)
{
    font-size: 1em * @multiplyer;
    margin-bottom: 1em;
    color: @color;
}


html, body, div, p, form, h1, h2, h3, h4
{
    margin: 0;
    padding: 0;
}

    html *
    {
        font-size: 100.01%;
    }

body
{
    font-family: verdana, arial, sans-serif;
    color: @font_color;
    font-size: 75.00%;
}

#page
{
    max-width: 1024px;
    min-width: 320px;
    margin: 1em auto 1em auto;
}

#header
{
    margin: 0 1.3em;
}


#menu
{
    margin-top: 1em;
    padding-top: 0.5em;
    border-top: solid 1px @border_color;
    border-bottom: solid 1px @border_color;
}


#content
{
    margin: 1em 1.3em;


    & li
    {
        color: @font_color !important;
        margin-left: -1em;
    }
}

#footer
{
    color: @border_color;
    border-top: solid 1px @border_color;
    padding: 1em 1.8em;

    & a
    {
        color: @border_color;
        text-decoration: none;
    }
}

.clear
{
    clear: both;
}

h1
{
    .font_size(1.4em, @accent_color);
}

h2
{
    .font_size(1.2em, @active_color);
}

h3
{
    .font_size(1em, @font_color);
}

p
{
    .font_size(1em, @font_color);
}

.defaultred
{
    color: @active_color;
}

.defaultblue
{
    color: @accent_color;
}

img
{
    border: none 0;
}

form dl
{
    margin: 0;
    padding: 0;

    & dt
    {
        width: 80px;
        display: inline-block;
    }

    & dd
    {
        width: 600px;
        display: inline-block;

        & input
        {
            width: 300px;
            border: 1px solid @border_color;
        }
    }
}

@media screen and (max-width: 400px)
{
    #header
    {
        background-color: black;

        & p
        {
            text-align: center;

            & a img
            {
                height: 76px;
                width: 150px;
            }
        }
    }
}

/* styles for validation helpers */
.field-validation-error
{
    color: @validation_error_color;
    font-weight: bold;
}

.field-validation-valid
{
    display: none;
}

input.input-validation-error
{
    border: 1px solid @validation_error_color;
}

input[type="checkbox"].input-validation-error
{
    border: 0 none;
}

.validation-summary-errors
{
    color: @validation_error_color;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid
{
    display: none;
}
