@model CommunitySite.Web.Models.EventDetailListModel

@{
    ViewBag.Title = "Archive";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h1>Die vergangenen Veranstaltungen</h1>
        
        @{
            Html.RenderPartial("EventPager", Model);
            Html.RenderPartial("EventList", Model.Events);
            Html.RenderPartial("EventPager", Model);
        }

    </div>
</div>