@model CommunitySite.Web.Models.EventDetailListModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h1>Die nächsten Veranstaltungen</h1>
        <p>Das Archiv finden Sie @Html.ActionLink("hier", "Archive")</p>

        @{
            Html.RenderPartial("EventPager", Model);
            Html.RenderPartial("EventList", Model.Events);
            Html.RenderPartial("EventPager", Model);
        }

    </div>
</div>