@model CommunitySite.Web.Models.ActivateModel

@{
    ViewBag.Title = "Activate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h2>Reminder activiert</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @if (!Model.Exists)
        {
            <div class="alert alert-danger">
                <p>
                    Es ist ein Fehler aufgetreten:<br />
                    Der Validierungsschlüssel existiert nicht oder ist nicht mehr gültig.
                </p>
            </div>
        }
        else
        {
            <div class="alert alert-success">
                <p>
                    Die E-Mail <em>@Model.Email</em> wurde für den Reminder aktiviert.<br />
                    Vielen Dank, dass Sie sich für die Termine des .NET-Stammtisch Konstanz-Kreuzlingen interessieren.
                </p>
            </div>
        }
    </div>
</div>